
@import "tailwindcss";
/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge Legacy */
.hide-scrollbar {
  -ms-overflow-style: none;
}
